body{
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{

    width: 370px;
    height: auto;
}
.middle{
    height: 300px;
}